*.swp
**/.tmp*
.bundle
config/bakery.yml
config/distillery.yml
config/database.yml
config/config.local.*
log/
public/javascripts/cache
public/stylesheets/cache
tmp/sass-cache
.DS\_Store
**/.DS\_Store
*~
**/*~
test/
tmp/
.sass-cache/
backups/
cache/
