
!!!
%html
  %head
    %title Wistia Learning Center
    %link{ :rel => 'stylesheet', :href => 'stylesheets/video.css' }

  %body
    #global-header-container.cf
      #global-header.cf
        .logo
          %a{ :href => 'http://www.wistia.com' }
        .links
          %a{ :href => '#' } Learning
          %a{ :href => '#' } Pricing
          %a{ :href => '#' } Blog
          %a{ :href => '#' } Login

    #local-header-container
      #local-header.cf
        .light-bulb
          %img{ :src => 'images/lightbulb.png' }
        .video-title
          %h1 Video Production
        .video-carousel.cf
          %ul
            %li
              %img.arrow{ :src => 'images/left_arrow.png' }
            - 4.times do
              %li
                %img{ :src => 'images/empty_thumbnail_green.png' }
            %li
              %img.arrow{ :src => 'images/right_arrow.png' }

    #video-container
      #video
        %img{ :src => 'images/placeholder.png' }

    #video-info-container
      #video-info.cf
        #info
          .title Video Title
          .description  A brief description of what the video is about - something punchy and short!
        #comments
