#local-header
  %h1
    %a{ :href => "/learning" }
      %img{ :src => '/learning/images/logo.png', :alt => "Learning Center", :title => "Learning Center" }
  %h2 Your hub to teach, learn, and discuss video marketing

#main-container
  #main
    #submissions
      .content
        %h2 Learning Center Submissions

        %p The Wistia Learning Center has only been around for a little while now, but some of you have already expressed interest in submitting guest videos! While we can't accept every video that's submitted, we're happy to accept your content about video marketing, production, strategy, and whatever else you can think of -- within reason. :)

        %h2 Submission Guidelines

        %p Here's how the submission process works and a bit more on what we're looking for.

        %ul
          %li 
            <strong>Make a video!</strong> You should probably watch some of the videos <a href="/learning">currently in the Learning Center</a> to get caught up on what types of things we cover and how much to cover in a single video.
            %ul
              %li 
                We like videos that are <strong>2 to 4 minutes in length</strong> and cover a <strong>concise topic</strong> in a <strong>reasonable amount of depth.</strong>
              %li 
                Each video should be able to <strong>stand alone as a lesson on a particular topic.</strong>
              %li 
                Videos should offer <strong>general learning</strong> - we <strong>veer away from product-specific videos</strong> in the Learning Center, although screenshots of particular products are fine.
              %li 
                Feel free to mention your company <strong>in the introduction</strong> and <strong>include a logo or wrap-up graphic at the end.</strong>
              %li 
                <strong>It's okay if your content has been posted elsewhere before.</strong> We don't need this section to be exclusive since the value of this project is bringing resources together!
              %li 
                We'll <strong>link back to you in the video description.</strong>
              %li 
                If you've got a concept you'd like to discuss before shooting or you have any other questions <strong>feel free to email <a href="mailto:submissions@wistia.com">submissions@wistia.com</a>.</strong>
          %li 
            <strong>Submit your video.</strong> Once you have a completed video, you can submit it! <strong>This is a two-step submission process.</strong>
            %ul
              %li 
                First, <strong>upload your video using the upload widget below</strong>, naming the file <strong>CompanyName-VideoTitle.mp4</strong> so we can keep track. 
              %li 
                Then, <strong>send an email to <a href="mailto:submissions@wistia.com">submissions@wistia.com</a></strong> including the name of the video you submitted, a quick summary, your name, your company name (if applicable). 

        %h2 Upload your Video

        %p Please don't upload until you've read everything above!

        <div id="wistia-upload-widget-13awyt6p5r" style="width: 300px; height: 45px;"></div><script src="http://fast.wistia.com/javascripts/upload_widget.js"></script><script>var wistia_upload_13awyt6p5r = new wistia.UploadWidget({ divId: "wistia-upload-widget-13awyt6p5r", publicProjectId: "13awyt6p5r", buttonText: "Upload your video" });</script>

        %p Thanks so much for your submissions, we'll get back to you as quickly as possible.

%div{ :style => "clear: both;" }
