#local-header
  %h1
    %img{ :src => '/learning/images/logo.png', :alt => "Learning Center", :title => "Learning Center" }
  %h2 Videos about video to help you market with video.

  %p The Wistia Learning Center has only been around for a little while now, but some of you have already expressed interest in submitting guest videos! While we can't accept every video that's submitted, we're happy to accept your content about video marketing, production, strategy, and whatever else you can think of -- within reason. :)

  %p Here's how the Learning Center submission process works:

  %p Make a video! You should probably watch some of the videos currently in the Learning Center to get caught up on what types of things we cover and how much to cover in a single video. 

  %p We like videos that are 2 to 4 minutes in length and cover a concise topic in a reasonable amount of depth. Each video should be able to stand alone as a lesson on a particular topic Videos should offer general learning - we veer away from product-specific videos in the Learning Center, although screenshots of particular projects are fine. Feel free to mention your company in the introduction and include a logo or wrap-up graphic at the end.
  
  %p We'll link back to you in the video description.
  
  %p If you're unsure about your video content or have questions, feel free to email submissions@wistia.com.
  
  %h2 Submit your video.
  
  %p Once you have a completed video, you can submit it! This is a two-step submission process. First, upload your video using the upload widget below, naming the file CompanyName-VideoTitle.mp4 so we can keep track. Then, send an email to submissions@wistia.com including the name of the video you submitted, a quick summary, your name, your company name (if applicable). 
  
  %p We'll get back to you as quickly as we can!
