@import "main";

#local-header {
  background-color: $white;
  padding: 5px 0px 51px 0px;
  height: 82px;
  h1, h2 {
    color: #555;
    font-weight: 100;
    font-size: 16px;
    font-style: italic;
    margin-top: 0px;
  }
  h2 {
    margin-right: 7px;
  }
}

#intro-video-container {
  background: #f7f6f4;
  background: -moz-linear-gradient(top, #f7f6f4 60%, #e5e4e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #f7f6f4), color-stop(100%, #e5e4e3));
  background: -webkit-linear-gradient(top, #f7f6f4 60%, #e5e4e3 100%);
  background: -o-linear-gradient(top, #f7f6f4 60%, #e5e4e3 100%);
  background: -ms-linear-gradient(top, #f7f6f4 60%, #e5e4e3 100%);
  background: linear-gradient(to bottom, #f7f6f4 60%, #e5e4e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f6f4', endColorstr='#e5e4e3',GradientType=0 );
  text-align: center;
  margin: 0;
  padding: 0;

  #intro-video {
    width: 960px;
    text-align: left;
    margin: 0 auto;
  }
}

#main-container {
  background-color: $light_grey_background;
  padding: 40px 0;
  text-align: center;

  #main {
    width: 960px;
    text-align: left;
    margin: 0 auto;
  }
}

.project {
  margin-bottom: 32px;
  moz-box-shadow: 0 0 10px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);

  .green { background-color: $green; }
  .sea_foam { background-color: $sea_foam; }
  .blue { background-color: $blue; }
  .purple { background-color: $purple }

  a {
    text-decoration: none;
  }

  .header {
    color: $white;
    padding: 10px 37px 9px;
    font-size: 20px;
    font-weight: 900;

    .title {
      text-transform: uppercase;
      letter-spacing: 2px;
      float: left;

      a, a:hover {
        color: $white;
        text-decoration: none;
      }

    }

    .info {
      float: right;
      font-size: 20px;
      font-weight: 200;
      padding-right: 25px;
    }
  }

  .videos {
    background-color: $white;

  }
}

#ankle {
  background: #eae5e1;
  height: 200px;

  .title { 
    font-size: 14pt;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 0px;
    color: #6a6a6a;
    
    .arrow {
      display: inline-block;
      width: 21px;
      height: 14px;
      background-image: url(/learning/images/anklearrows.png);
      margin-left: 5px;
    }

    .arrow:hover {
      background-position: 0 -14px;
    }

    a {
      color: #6a6a6a;
      text-decoration: none;
    }
  }

  p {
    font-size: 11pt;
    color: #6a6a6a;
  }

  p:hover {
    color: #444;
  }

  a {
    text-decoration: none;
  }

  #container {
    width: 960px;
    height: 200px;
    margin: 0 auto;
  
    .section {
      display: block;
      width: 250px;
      float: left;
      padding: 40px 20px 0px 20px;
      text-align: left;
    }

    .divider {
      display: block;
      float: left;
      width: 20px;
      border-left: 1px solid #cac6c3;
      height: 130px;
      margin-top: 30px;
    }

    .socializing {
      padding-top: 15px;

      &>* {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        zoom: 1;
      }
    }

    .tooth {
      position: absolute;

      img {
        width: 25px;
        height: 16px;
        margin-left: 595px;
      }
    }
  }
}
