@import "main";

#local-header {
  background-color: $white;
  padding: 5px 0px 51px 0px;
  height: 82px;
  h1 {
    color: #555;
    font-weight: 100;
    font-size: 17px;
    font-style: italic;
    margin-top: 7px;
    margin-right: 12px;
  }
}

#intro-video-container {
  background: #f7f6f4;
  background: -moz-linear-gradient(top, #f7f6f4 60%, #e5e4e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #f7f6f4), color-stop(100%, #e5e4e3));
  background: -webkit-linear-gradient(top, #f7f6f4 60%, #e5e4e3 100%);
  background: -o-linear-gradient(top, #f7f6f4 60%, #e5e4e3 100%);
  background: -ms-linear-gradient(top, #f7f6f4 60%, #e5e4e3 100%);
  background: linear-gradient(to bottom, #f7f6f4 60%, #e5e4e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f6f4', endColorstr='#e5e4e3',GradientType=0 );
  text-align: center;
  margin: 0;
  padding: 0;

  #intro-video {
    width: 960px;
    text-align: left;
    margin: 0 auto;
  }
}

#main-container {
  background-color: $light_grey_background;
  padding: 40px 0;
  text-align: center;

  #main {
    width: 960px;
    text-align: left;
    margin: 0 auto;
  }
}

.project {
  margin-bottom: 32px;
  moz-box-shadow: 0 0 10px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);

  .green { background-color: $green; }
  .sea_foam { background-color: $sea_foam; }
  .blue { background-color: $blue; }
  .purple { background-color: $purple }

  .header {
    color: $white;
    padding: 10px 37px 9px;
    font-size: 20px;
    font-weight: 900;

    .title {
      text-transform: uppercase;
      letter-spacing: 2px;
      float: left;

      a, a:hover {
        color: $white;
        text-decoration: none;
      }

    }

    .info {
      float: right;
      font-size: 20px;
      font-weight: 200;
      padding-right: 25px;
    }
  }

  .videos {
    background-color: $white;

  }
}
