@font-face {
  font-family: "interstate";
  src: url("/fonts/interstate-light/interstate-light.eot");
  src: url("/fonts/interstate-light/interstate-light.eot?#iefix") format("embedded-opentype"), url("/fonts/interstate-light/interstate-light.woff") format("woff"), url("/fonts/interstate-light/interstate-light.ttf") format("truetype"), url("/fonts/interstate-light/interstate-light.svg#interstate-light") format("svg");
  font-weight: 400; }

@font-face {
  font-family: "interstate";
  src: url("/fonts/interstate-regular/interstate-regular.eot");
  src: url("/fonts/interstate-regular/interstate-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/interstate-regular/interstate-regular.woff") format("woff"), url("/fonts/interstate-regular/interstate-regular.ttf") format("truetype"), url("/fonts/interstate-regular/interstate-regular.svg#interstate-regular") format("svg");
  font-weight: 700; }

@font-face {
  font-family: "interstate";
  src: url("/fonts/interstate-bold/interstate-bold.eot");
  src: url("/fonts/interstate-bold/interstate-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/interstate-bold/interstate-bold.woff") format("woff"), url("/fonts/interstate-bold/interstate-bold.ttf") format("truetype"), url("/fonts/interstate-bold/interstate-bold.svg#interstate-bold") format("svg");
  font-weight: 900; }

@font-face {
  font-family: "interstate";
  src: url("/fonts/interstate-light-italic/interstate-lightitalic.eot");
  src: url("/fonts/interstate-light-italic/interstate-lightitalic.eot?#iefix") format("embedded-opentype"), url("/fonts/interstate-light-italic/interstate-lightitalic.woff") format("woff"), url("/fonts/interstate-light-italic/interstate-lightitalic.ttf") format("truetype"), url("/fonts/interstate-light-italic/interstate-lightitalic.svg#interstate-lightitalic") format("svg");
  font-style: italic; }

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'interstate', helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

#global-header-container {
  margin: 0;
  padding: 0;
  text-align: center; }
  #global-header-container #global-header {
    margin: 0 auto;
    text-align: left;
    width: 960px;
    height: 70px; }
    #global-header-container #global-header .logo {
      float: left; }
      #global-header-container #global-header .logo a {
        background: url("/learning/images/wistia_logo.png") no-repeat;
        width: 200px;
        height: 40px;
        display: inline-block;
        margin-top: 15px; }
      #global-header-container #global-header .logo a:hover {
        background-position: 0 -40px; }
    #global-header-container #global-header .links {
      float: right; }
      #global-header-container #global-header .links a {
        color: #8d8d8d;
        text-decoration: none;
        padding: 20px 30px;
        text-transform: uppercase;
        display: inline-block; }
      #global-header-container #global-header .links a:hover {
        color: #666; }

#local-header {
  background-color: white;
  padding: 35px 0; }

#main-container {
  background-color: #f4f4f4;
  padding: 40px 0;
  text-align: center; }
  #main-container #main {
    width: 960px;
    text-align: left;
    margin: 0 auto; }

.project {
  margin-bottom: 40px; }
  .project .green {
    background-color: #87d452; }
  .project .sea_foam {
    background-color: #5ad4a0; }
  .project .blue {
    background-color: #63d0db; }
  .project .purple {
    background-color: #5c9ed6; }
  .project .header {
    color: white;
    padding: 10px 40px;
    font-size: 21px; }
    .project .header .title {
      text-transform: uppercase;
      float: left; }
    .project .header .info {
      float: right; }
  .project .videos {
    background-color: white; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.description_for_hover {
  background-color: white;
  border: 2px solid gray;
  display: none;
  height: 150px;
  margin-top: 20px;
  overflow: hidden;
  position: absolute;
  width: 200px; }
