$green: #BDE26E;
$sea_foam: #5AD4A0;
$blue: #63D0DB;
$purple: #5c9ed6;

$dark_green: #bcdd6b;
$dark_sea_foam: #58cc92;
$dark_blue: #5ccccc;
$dark_purple: #559bc6;

$white: #fff;
$light_grey_background: #f7f6f4;
$dark_grey: #646059;

// function to create dynamic classes based on all the colors of the LC rainbeez
$colors: "green", "sea_foam", "blue", "purple";
@function hex-color($color-string) {
  @if $color-string == "green" {
    @return $green;
  }
  @if $color-string == "sea_foam" {
    @return $sea_foam;
  }
  @if $color-string == "blue" {
    @return $blue;
  }
  @if $color-string == "purple" {
    @return $purple;
  }
}

@font-face {
  font-family: "interstate";
  src: url("/learning/fonts/interstate-light/interstate-light.eot");
  src: url("/learning/fonts/interstate-light/interstate-light.eot?#iefix") format("embedded-opentype"), url("/learning/fonts/interstate-light/interstate-light.woff") format("woff"), url("/learning/fonts/interstate-light/interstate-light.ttf") format("truetype"), url("/learning/fonts/interstate-light/interstate-light.svg#interstate-light") format("svg");
  font-weight: 400; }

@font-face {
  font-family: "interstate";
  src: url("/learning/fonts/interstate-regular/interstate-regular.eot");
  src: url("/learning/fonts/interstate-regular/interstate-regular.eot?#iefix") format("embedded-opentype"), url("/learning/fonts/interstate-regular/interstate-regular.woff") format("woff"), url("/learning/fonts/interstate-regular/interstate-regular.ttf") format("truetype"), url("/learning/fonts/interstate-regular/interstate-regular.svg#interstate-regular") format("svg");
  font-weight: 700; }

@font-face {
  font-family: "interstate";
  src: url("/learning/fonts/interstate-bold/interstate-bold.eot");
  src: url("/learning/fonts/interstate-bold/interstate-bold.eot?#iefix") format("embedded-opentype"), url("/learning/fonts/interstate-bold/interstate-bold.woff") format("woff"), url("/learning/fonts/interstate-bold/interstate-bold.ttf") format("truetype"), url("/learning/fonts/interstate-bold/interstate-bold.svg#interstate-bold") format("svg");
  font-weight: 900; }

@font-face {
  font-family: "interstate";
  src: url("/learning/fonts/interstate-light-italic/interstate-lightitalic.eot");
  src: url("/learning/fonts/interstate-light-italic/interstate-lightitalic.eot?#iefix") format("embedded-opentype"), url("/learning/fonts/interstate-light-italic/interstate-lightitalic.woff") format("woff"), url("/learning/fonts/interstate-light-italic/interstate-lightitalic.ttf") format("truetype"), url("/learning/fonts/interstate-light-italic/interstate-lightitalic.svg#interstate-lightitalic") format("svg");
  font-style: italic; }

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: 'interstate', helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#global-header-container {
  margin: 0;
  padding: 0;
  text-align: center;

  #global-header {
    margin: 0 auto;
    text-align: left;
    width: 960px;
    height: 70px;

    .logo {
      float: left;

      a {
        background: url('/learning/images/wistia_logo.png') no-repeat;
        width: 200px;
        height: 40px;
        display: inline-block;
        margin-top: 15px;
      }

      a:hover {
        background-position: 0 -40px;
      }
    }

    .links {
      float: right;

      a {
        color: #8d8d8d;
        text-decoration: none;
        padding: 20px 30px;
        text-transform: uppercase;
        display: inline-block;
      }

      a:hover {
        color: #666;
      }
    }
  }
}

#local-header {
  background-color: $white;
  padding: 35px 0;
}



#main-container {
  background-color: $light_grey_background;
  padding: 40px 0;
  text-align: center;

  #main {
    width: 960px;
    text-align: left;
    margin: 0 auto;
  }
}

.project {
  margin-bottom: 40px;

  .green { background-color: $green; }
  .green:hover { background-color: $dark_green; }

  .sea_foam { background-color: $sea_foam; }
  .sea_foam:hover { background-color: $dark_sea_foam; }

  .blue { background-color: $blue; }
  .blue:hover { background-color: $dark_blue; }

  .purple { background-color: $purple; }
  .purple:hover { background-color: $dark_purple; }

  .header {
    color: $white;
    padding: 10px 40px;
    font-size: 21px;

    .title {
      text-transform: uppercase;
      float: left;
    }

    .info {
      float: right;
    }
  }

  .videos {
    background-color: $white;

  }
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

// Work for Index Page description hovers

#project-list {
  margin-bottom: 120px;
}

.hover_description {
  visibility: hidden;
  opacity: 0;
  margin-top: -5px;
  position: absolute;
  width: 200px;
  -moz-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
  .tooth {
    background: transparent url("/learning/images/toothsome.png") no-repeat;
    height: 18px;
    width: 27px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }
  .description_text_box {
    background-color: white;
    border: 2px solid #DDD;
    color: #777;
    padding: 12px 15px 4px 15px;
    position: relative;
    text-align: left;
    top: -2px;
    h1 {
      font-size: 18px;
      margin: 0 0 10px 0;
    }
    p {
      font-size: 14px;
    }
  }
}

// for all carousel thumbnails, errrwhere
%thumbnail_color {
  position: relative;  
  cursor: pointer;  
}

%thumbnail_link_before {  
  content: "";  
  display: block;  
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  background: none;  
  -moz-transition: background .3s linear;  
  -webkit-transition: background .3s linear;  
  -ms-transition: background .3s linear;  
  -o-transition: background .3s linear;  
  transition: background .3s linear;  
}

@each $color in $colors {
  .thumbnail_color_#{$color} {
    @extend %thumbnail_color;
  }
  .thumbnail_color_#{$color}:before {
    @extend %thumbnail_link_before;
  }
  .videos ul li a:hover, .jcarousel-clip ul li a:hover {
    .thumbnail_color_#{$color}:before {
      background: rgba(hex-color($color), 0.5);
      content: url("/learning/images/small_play_button.png")
    }
  }
  .media-tile:hover {
    .thumbnail_color_#{$color}:before {
      background: rgba(hex-color($color), 0.5);
      content: url("/learning/images/large_play_button.png")
    }
  }
}

.videos ul li a, .jcarousel-clip ul li a {
  width: 100px;
  height: 60px;
  display: block;
}
