@import "main";

#local-header-container {
  margin: 0;
  padding: 0;
  text-align: center;

  #local-header {
    text-align: left;
    width: 960px;
    margin: 0 auto;
    background-color: $white;
    padding: 19px 0px 27px 0px;

    .light-bulb {
      float: left;
    }

    .video-title {
      float: left;
      width: 240px;

      h1 {
        width: 240px;
        font-size: 32px;
        color: $dark_grey;
        margin: 0;
        padding: 0px 20px 11px 20px;
        font-weight: 100;
        letter-spacing: 1px;
      }
    }

    .video-carousel {
      float: right;
      width: 620px;

      ul {
        list-style-type: none;
        margin: 18px 0px 0px 0px;
        padding: 0px 0px 0px 58px;

        li {
          float: left;
          padding: 0 10px;

          .arrow {
            padding: 23px 0px 0px 0px;
          }
        }
      }
    }
  }
}


#video-container {
  background-color: $light_grey_background;
}


#video-info-container {
  #video-info {
    width: 960px;
    text-align: left;
    margin: 0 auto;

    #info {
      float: left;
      width: 240px;
      margin: 20px 0;
      font-size: 14px;
      color: $dark_grey;
      line-height: 21px;
      font-weight: 100;

      .title {
        font-size: 30px;
        padding-bottom: 25px;
        padding-top: 40px;
        font-weight: 100;
        color: $dark_grey;
      }
    }

    #disqus_thread {
      padding-top: 60px;
      padding-left: 30px;
      float: right;
      width: 670px;
    }
  }
}









