@import "main";

#local-header-container {
  margin: 0;
  padding: 0;
  text-align: center;

  #local-header {
    text-align: left;
    width: 960px;
    margin: 0 auto;
    background-color: $white;
    padding: 19px 0px 27px 0px;

    .light-bulb {
      float: left;
    }


    .project-title {
      float: left;
      width: 240px;

      h1 {
        width: 240px;
        font-size: 32px;
        color: $dark_grey;
        margin: 0;
        padding: 1px 20px;
        font-weight: 100;
        letter-spacing: 1px;
      }
    }

    .project-description {
      float: right;
      width: 620px;
      color: $dark_grey;
      font-weight: 100;
      padding-top: 7px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

#media-tiles-container {
  background-color: $light_grey_background;
  padding: 40px 0;
  text-align: center;

  #media-tiles {
    width: 960px;
    text-align: left;
    margin: -7px auto 0px auto;

    .media-tile-container {
      width: 260px;
      float: left;
      text-align: center;
      margin: 32px 22px 32px 22px; 

      .media-tile {
        background-color: #aaa;
        color: #6a6a6a;

        img {
          margin: 0 auto;
        }

        .title {
          text-align: left;
          padding: 16px 20px 10px 20px;
          font-size: 31px;
          background-color: $white;
          font-weight: 100;
        }

        .description {
          text-align: left;
          padding: 0px 20px 23px 20px;
          background-color: $white;
          font-size: 14px;
          line-height: 21px;
          font-weight: 100;
        }
      }
    }
  }
}
