@import "main";

#local-header-container {
  margin: 0;
  padding: 0;
  text-align: center;

  #local-header {
    text-align: left;
    width: 960px;
    margin: 0 auto;
    background-color: $white;
    padding: 19px 0px 27px 0px;

    .light-bulb {
      float: left;
      margin-top: 13px;

      a {
        display: inline-block;
        height: 77px;
        width: 58px;
      }

      a:hover {
        background-position: 0 -79px;
      }
    }


    .project-title {
      float: left;
      width: 225px;
      padding: 0px 20px;

      h1 {
        width: 240px;
        font-size: 32px;
        color: $dark_grey;
        margin: 0;
        font-weight: 700;
        letter-spacing: 1px;
      }
      .back_to_central { 
        margin-top: 7px;
        a {
          color: #999;
          letter-spacing: 0px;
          font-size: 14px;
          font-style: italic;
          font-weight: 100;
          text-transform: uppercase;
          text-decoration: none;
        }
      }  

  .back_to_central a:hover {
    color: #333;  
  }
    }

    .project-description {
      float: right;
      width: 590px;
      color: $dark_grey;
      font-weight: 100;
      padding-top: 7px;
      padding-right: 45px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

#media-tiles-container {
  background-color: $light_grey_background;
  padding: 40px 0;
  text-align: center;

  #media-tiles {
    width: 960px;
    text-align: left;
    margin: -7px auto 0px auto;

    .email-tile-container {
      width: 260px;
      float: left;
      margin: 32px 22px 32px 22px;

      .email-tile {
        background-color: #eae5e1;
        color: #6a6a6a;
        height: 290px;
        display: block;
        margin: 0 auto;
        padding: 25px;
        position: relative;
        moz-box-shadow: 0 0 10px rgba(0,0,0,.05);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05);
        box-shadow: 0 0 10px rgba(0, 0, 0, .05);

          img {
            padding-bottom: 30px;
            padding-top: 30px;
            margin: 0 auto;
            display: block;
          }
          
          .title {
            font-size: 14pt;
            font-weight: 800;
            text-transform: uppercase;
            padding-bottom: 10px;
          }

          .text {
            font-size: 11pt;
            padding-bottom: 15px;
          }

          input {
            height: 17px;
            width: 150px;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            border: 0;
            padding: 15px;
            margin: 0 auto;
            outline: 0px;
            color: #adaaa8;
            font-weight: 100;
          }

          button {
            border: 0px;
            position: absolute;
            width: 36px;
            height: 48px;
            left: 198px;
          }
      }
    }

    .media-tile-container {
      width: 260px;
      float: left;
      text-align: center;
      margin: 32px 22px 32px 22px;

      .media-tile {
        background-color: #aaa;
        color: #6a6a6a;
        moz-box-shadow: 0 0 10px rgba(0,0,0,.05);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05);
        box-shadow: 0 0 10px rgba(0, 0, 0, .05);

        a {
          position: relative;
        }

        img {
          margin: 0 auto;
          display: block;
        }

        .title {
          text-align: left;
          padding: 16px 28px 10px 28px;
          font-size: 31px;
          background-color: $white;
          font-weight: 100;

          a {
           color: #6a6a6a;
           text-decoration: none;
          }
        }

        .description {
          height: 70px;
          text-align: left;
          padding: 0px 28px 23px 28px;
          background-color: $white;
          font-size: 14px;
          line-height: 21px;
          font-weight: 100;
          overflow: hidden;

          p {
            margin: 0;
          }
        }
        
        .info {
          display: none;
          height: 70px;
          text-align: left;
          padding: 0px 28px 23px 28px;
          background-color: $white;
          font-size: 14px;
          line-height: 21px;
          font-weight: 100;
          overflow: hidden;
          
          .info-title {
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 1.5px;
            padding: 10px 0px;
          }

          .info-val {
            color: #555;
            font-size: 36px;
            font-weight: 700;

            a {
              text-decoration: none;
            }
          } 


          .time {
            float: left;
          }

          .comments {
            float: right;
          }
        }
      }
    }
  }
}
