#footer
  %ul.nav-list
    %li
      %a{ href: 'http://wistia.com/doc/developers' } Nav Items

    %li
      %a{ href: 'http://wistia.com/doc/developers' } Are Pretty

    %li
      %a{ href: 'http://wistia.com/doc/developers' } Awesome
