#header
  .container
    #logo
      %a{ href: '/' }

    #nav
      %ul
        %li.nav-item.learning
          %a{ href: "/linkone" } Link One
        %li.nav-item.pricing
          %a{ href: "/linktwo" } Link Two
        %li.nav-item.blog
          %a{ href: "/linkthree" } Link Three!
