!!!
%html
  %head
    %title Wistia Learning Center
    = stylesheet_link_tag @stylesheet, :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "jquery-1.8.3.min.js"

  %body
    #global-header-container.cf
      #global-header.cf
        .logo
          %a{ :href => 'http://www.wistia.com' }
        .links
          %a{ :href => '#' } Learning
          %a{ :href => '#' } Pricing
          %a{ :href => '#' } Blog
          %a{ :href => '#' } Login
      = yield
