#local-header
  %img{ :src => 'images/logo.png' }

#intro-video-container
  #intro-video
    %img{ :src => 'images/placeholder.png' }

#main-container
  #main
    #project-list
      - @projects.each do |p| 
        .project.cf
          .header.green.cf
            .title
              = p.name
            .info
              = "#{p.media.count} videos / #{p.total_media_duration} minutes"
          .videos.cf
            %ul.cf
              - 7.times do
                %li
                  %img{ :src => 'images/empty_thumbnail_green.png' }

      
